<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t "log.modal.create" %></h4>
    </div>
    <div class="modal-body">
    <div class="form_main">
      <h4 class="heading"><strong>Quick </strong> Contact <span></span></h4>
       <div class="row">
          <div class="form">
            <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
              <input type="text" required="" placeholder="Please input your Name" value="" name="name" class="txt">
              <input type="text" required="" placeholder="Please input your mobile No" value="" name="mob" class="txt">
              <input type="text" required="" placeholder="Please input your Email" value="" name="email" class="txt">
                
              <textarea placeholder="Your Message" name="mess" type="text" class="txt_3"></textarea>
              <input type="submit" value="submit" name="submit" class="txt2">
            </form>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
