<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @title %>( <%= @logs_count %> )</h3>
        <div class="actions">
          <div class="btn-group btn-group-devided" data-toggle="buttons">
            <%= link_to "Tong thu", calculates_path, remote: true,
              class: "pull-right" %>
          </div>
        </div>
      </div>
      <div class="panel-body" id="table" >
        <%= render "shared/logs_table", logs: @logs %>
      </div>
    </div>
  </div>
</div>
<div id="modal-window" class="modal fade" role="dialog"></div>
