<div class="page-footer text-center">
  <div class="page-footer-inner"> 2017 &copy; <%= t "frontend.app_name" %>.
    <%= t "frontend.design_by" %> <a href="#"
      title="<%= t "frontend.company" %>"
      target="_blank"><%= t "frontend.team" %></a></div>
  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>
</div>
