<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner ">
    <div class="page-logo">
      <a class="navbar-brand" href="/"><%= t "frontend.company" %></a>
      <div class="menu-toggler sidebar-toggler">
      </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <div class="page-actions">
      <h3 class="caption-subject font-green sbold uppercase" style="margin-top: 0px; margin-bottom: 5px;"></h3>
    </div>
    <div class="page-top">
    </div>
  </div>
</div>
<div class="clearfix"> </div>